/* normalize */
h1, h2, h3, h4, h5, h6, html, body, p, ul, ol {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
button {
  cursor: pointer;
}

/* CSS variables */
:root {
  --primary-brand: #4D5AE5;
  --pressed-state: #404BBF;
  --dark: #2E2F42;
  --success: #31D0AA;
  --text: #434455;
  --white-text: #FFFFFF;
  --subtle-text: #8E8F99;
  --accent: #E7E9FC;
  --light: #F4F4FD;
  --modal-overlay: #2E2F42;
  --white-background: #FFFFFF;
  --modal-background: #FCFCFC;
}

.container { 
  max-width: 1158px;
  padding: 0 15px;  
  margin: 0 auto; 
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Body */
body {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  color: var(--text);
  letter-spacing: 2%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* links */
a {
  text-decoration: none;
  color: var(--text);
}

a:hover,
a:focus {
  color: var(--pressed-state);
}

/* Buttons */
.button {
  font-size: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  background-color: var(--primary-brand);
  color: var(--white-text);
  padding: 12px 24px;
  border: 1px solid var(--primary-brand);
  border-radius: 4px;
}

.button:hover {
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.12); 
}

.button:hover, 
.button:focus {
  background-color: var(--pressed-state);
  border: 1px solid var(--pressed-state);
}

button.secondary {
  background-color: var(--light);
  border: 1px solid var(--accent);
  color: var(--primary-brand);
}

button.secondary:hover,
button.secondary:focus {
  background-color: var(--pressed-state);
  border: 1px solid var(--pressed-state);
  color: var(--white-text);
}

/* headings */
.heading {
  color: var(--dark);
}

.heading-1 {
  font-size: 56px;
  line-height: 1.08;
  font-weight: 700; /* bold by default */
  text-align: center;
}

.heading-2 {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700; /* bold by default */
  margin-bottom: 72px;
  text-align: center;
}

.heading-3 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500; /* bold by default */
}

/* Header */
header {
  background-color: var(--white-background);
  border-bottom: 1px solid var(--accent);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address-list {
  display: flex;
  align-items: center;
}

/* Navigation */
.page-nav {
  color: var(--dark);
  display: flex;
  align-items: center;
}

.page-nav .brandlogo-text {
  margin-right: 76px;
}

.page-nav-list {
  display: flex;
}
.page-nav-list .list-item .page-nav-link {
  padding: 24px 0;
  display: inline-block;
}

.page-nav-list .list-item.active .page-nav-link {
  color: var(--pressed-state);
}

.page-nav-list .list-item:not(:last-child),
.address-list .list-item:not(:last-child) {
  margin-right: 40px;
}

.page-nav-link {
  font-weight: 500;
}

.address-list {
  font-style: normal;
}

/* Sections */
.section {
  padding: 120px 0;
}

.section-advantages {
  padding-bottom: 0;
}

.section-portfolio {
  padding-top: 96px;
}

.section-hero {
  background-color: var(--dark);
  text-align: center;
  padding: 188px 0;
}

.section-hero .heading-1 {
  color: var(--white-text);
  max-width: 500px;
  margin: 0 auto 48px auto;
}

.section-hero button {
  padding: 16px 32px;
}

.section-team {
  background-color: var(--light);
}

/* Lists */
.advantages-list,
.projects-list,
.team-list,
.portfolio-list, 
.portfolio-filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.advantages-list .card {
  flex-basis: 264px;
}
.advantages-list .card .card-body {
  padding: 0;
}

.team-list > li {
  text-align:  center;
  box-shadow: 0 2px 6px rgba(46, 47, 66, 0.16); 
}
.portfolio-list {
  row-gap: 48px;
}

.portfolio-filter-list {
  justify-content: center;
  margin-bottom: 72px;
}

/* Cards */
.card {
  background-color: var(--white-background);
}

.card .card-body {
  padding: 32px 16px;
}

.card .card-body .heading {
  margin-bottom: 8px;
}

.portfolio-list .card-body {
  border: 1px solid var(--accent);
  border-top: none;
}


/* Brand Logo */
.brandlogo-text {
  font-family: "Raleway";
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 3%;
  color: var(--primary-brand);
  display: inline-block;
}
.brandlogo-text:hover,
.brandlogo-text:focus  {
  color: var(--primary-brand)
}
.brandlogo-text .accent {
  color: var(--dark);
}
.brandlogo-text.light .accent {
  color: var(--white-text);
}

/* Footer */
footer {
  background-color: var(--dark);
  color: var(--white-text);
  padding: 100px 0;
}

footer .text {
  max-width: 264px;
}

footer .brandlogo-text {
  margin-bottom: 16px;
}
